keras
keras_tuner
kfp==1.8.6
kfp_pipeline_spec
matplotlib==3.4.1
minio==5.0.10
numpy
openpyxl
pandas
plotly
pyarrow==6.0.0
pydantic
s3fs
scikit_learn
seaborn
tensorboard
tensorflow==2.6.0
tensorflow_gpu==2.6.0
xgboost==1.4.2
